.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    &__list {
        display: flex;
        justify-content: center;
        gap: 5px;
    }

    &__link {
        width: 36px;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__link_active {
        border: 1px solid $color-main;
    }
}